Patterns_2025/.idea/inspectionProfiles/profiles_settings.xml
Patterns_2025/.idea/misc.xml
Patterns_2025/.idea/Patterns_2025.iml
Patterns_2025/.idea/vcs.xml
Patterns_2025/.idea/workspace.xml
Patterns_2025/.idea/workspace.xml
